Repository andreasgriffin/andreasgriffin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-md-aliases, generate-hardware-signer-lang-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: add-md-aliases
        name: Add YAML `aliases:` to top-level Markdown files
        entry: python add_aliases.py
        language: python
        # Only trigger when youâ€™ve staged *.md in content/ whose basename has no extra dot
        files: '^content/[^.]+\.md$'
        pass_filenames: false
        stages: [pre-commit]

      - id: generate-hardware-signer-lang-files
        name: Generate hardware signer language stubs
        entry: python generate_hardware_signer_lang_files.py
        language: python
        files: '^(content/knowledge/supported-hardware-signers/.*|data/hardware-signers\.yml|config/_default/languages\.toml|generate_hardware_signer_lang_files\.py)$'
        pass_filenames: false
        stages: [pre-commit]
        additional_dependencies:
          - pyyaml

Badge verification-only
  layouts/index.html
Due: none

Add external badges for Bitcoin Safe
  layouts/index.html
Due: none

Add badge link for Featured on neeed.directory
  layouts/index.html
Due: none

Add Fazier badge link to index.html
  layouts/index.html
Due: none

Refactor index.html layout and remove unused sections
  layouts/index.html
Due: none

Fix top nav active state matching
  layouts/partials/header/header.html
Due: none

Update layout styles for featured section
  layouts/index.html
Due: none

squashed
  assets/sass/styles.scss
  layouts/_markup/render-heading.html
  layouts/partials/hardware-signer/detail.html
Due: none

Update featured links and images in index.html
  layouts/index.html
Due: none

Revise title and description in config.toml
  config/_default/config.toml
Due: none

Add bitcoin-safe and nostr entries to nostr.json
  static/.well-known/nostr.json
Due: none

icon replacement
  config/_default/menus/menus.ar.toml
  config/_default/menus/menus.ca.toml
  config/_default/menus/menus.de.toml
  config/_default/menus/menus.en.toml
  config/_default/menus/menus.es.toml
  config/_default/menus/menus.fa.toml
  config/_default/menus/menus.fr.toml
  config/_default/menus/menus.hi.toml
  config/_default/menus/menus.id.toml
  config/_default/menus/menus.it.toml
  config/_default/menus/menus.ja.toml
  config/_default/menus/menus.ko.toml
  config/_default/menus/menus.my.toml
  config/_default/menus/menus.pl.toml
  config/_default/menus/menus.pt.toml
  config/_default/menus/menus.ru.toml
  config/_default/menus/menus.th.toml
  config/_default/menus/menus.tr.toml
  config/_default/menus/menus.uk.toml
  config/_default/menus/menus.zh.toml
  static/icons/substr.svg
Due: none

add test build
  .github/workflows/hugo-build-test.yaml
Due: none

simpler
  .github/workflows/hugo-build-test.yaml
Due: none

Add hardware signer connection filters
  assets/js/main.js
  assets/sass/styles.scss
  config/_default/config.toml
  i18n/ar.yaml
  i18n/ca.yaml
  i18n/de.yaml
  i18n/en.yaml
  i18n/es.yaml
  i18n/fa.yaml
  i18n/fr.yaml
  i18n/hi.yaml
  i18n/id.yaml
  i18n/it.yaml
  i18n/ja.yaml
  i18n/ko.yaml
  i18n/my.yaml
  i18n/pl.yaml
  i18n/pt-br.yaml
  i18n/pt.toml
  i18n/pt.yaml
  i18n/ru.yaml
  i18n/th.yaml
  i18n/tr.yaml
  i18n/uk.yaml
  i18n/zh.yaml
  layouts/partials/hardware-signer/card.html
  layouts/partials/hardware-signer/list.html
Due: none

Tweak hardware signer filter button styling
  assets/sass/styles.scss
Due: none

donation button
  layouts/shortcodes/donation_btc.html
Due: none

Add SaasHub badge for Bitcoin-Safe
  layouts/index.html
Due: none

Toggle visibility of 'As Seen in' section
  layouts/index.html
Due: none

open in new windo
  layouts/shortcodes/donation_btc.html
Due: none

squash
  .github/workflows/fetch-release.yaml
  .vscode/launch.json
  data/latest_prerelease.json
  fetch_prerelease.sh
  fetch_release.sh
  fetch_release_data.py
  layouts/shortcodes/latest_release.html
Due: none

browser redirect
  layouts/shortcodes/donation_btc.html
Due: none

squash
  content/donate/index.md
  content/features/multi-language/index.md
  content/features/reproducibility-and-security/index.md
  content/features/reproducibility-and-security/logo.png
  layouts/shortcodes/feature-cards.html
Due: add-md-aliases

squash
  content/features/reproducibility-and-security/index.md
Due: add-md-aliases

squash
  content/features/reproducibility-and-security/index.md
  content/news/bitcoin-safe-2-0-0/hardware-safe7-import.png
  content/news/bitcoin-safe-2-0-0/hero-wallet-ready.png
  content/news/bitcoin-safe-2-0-0/index.md
  content/news/bitcoin-safe-2-0-0/setup-wizard-template.png
  content/news/bitcoin-safe-2-0-0/signing-device-actions.png
Due: add-md-aliases

squash
  content/features/reproducibility-and-security/index.ar.md
  content/features/reproducibility-and-security/index.ca.md
  content/features/reproducibility-and-security/index.de.md
  content/features/reproducibility-and-security/index.es.md
  content/features/reproducibility-and-security/index.fa.md
  content/features/reproducibility-and-security/index.fr.md
  content/features/reproducibility-and-security/index.hi.md
  content/features/reproducibility-and-security/index.id.md
  content/features/reproducibility-and-security/index.it.md
  content/features/reproducibility-and-security/index.ja.md
  content/features/reproducibility-and-security/index.ko.md
  content/features/reproducibility-and-security/index.md
  content/features/reproducibility-and-security/index.my.md
  content/features/reproducibility-and-security/index.pl.md
  content/features/reproducibility-and-security/index.pt.md
  content/features/reproducibility-and-security/index.ru.md
  content/features/reproducibility-and-security/index.th.md
  content/features/reproducibility-and-security/index.tr.md
  content/features/reproducibility-and-security/index.uk.md
  content/features/reproducibility-and-security/index.zh.md
  content/features/usps/index.ar.md
  content/features/usps/index.ca.md
  content/features/usps/index.de.md
  content/features/usps/index.es.md
  content/features/usps/index.fa.md
  content/features/usps/index.fr.md
  content/features/usps/index.hi.md
  content/features/usps/index.id.md
  content/features/usps/index.it.md
  content/features/usps/index.ja.md
  content/features/usps/index.ko.md
  content/features/usps/index.my.md
  content/features/usps/index.pl.md
  content/features/usps/index.pt.md
  content/features/usps/index.ru.md
  content/features/usps/index.th.md
  content/features/usps/index.tr.md
  content/features/usps/index.uk.md
  content/features/usps/index.zh.md
Due: add-md-aliases

squash
  data/hardware-signers.yml
Due: generate-hardware-signer-lang-files

discount code
  data/hardware-signers.yml
Due: generate-hardware-signer-lang-files

Update Ledger signer card notes
  data/hardware-signers.yml
Due: generate-hardware-signer-lang-files

releas
  data/latest_prerelease.json
  data/latest_release.json
  fetch_release.sh
Due: none

Add Bitcoin Safe 2.0.0 translations
  content/news/bitcoin-safe-2-0-0/index.ar.md
  content/news/bitcoin-safe-2-0-0/index.ca.md
  content/news/bitcoin-safe-2-0-0/index.de.md
  content/news/bitcoin-safe-2-0-0/index.es.md
  content/news/bitcoin-safe-2-0-0/index.fa.md
  content/news/bitcoin-safe-2-0-0/index.fr.md
  content/news/bitcoin-safe-2-0-0/index.hi.md
  content/news/bitcoin-safe-2-0-0/index.id.md
  content/news/bitcoin-safe-2-0-0/index.it.md
  content/news/bitcoin-safe-2-0-0/index.ja.md
  content/news/bitcoin-safe-2-0-0/index.ko.md
  content/news/bitcoin-safe-2-0-0/index.my.md
  content/news/bitcoin-safe-2-0-0/index.pl.md
  content/news/bitcoin-safe-2-0-0/index.pt.md
  content/news/bitcoin-safe-2-0-0/index.ru.md
  content/news/bitcoin-safe-2-0-0/index.th.md
  content/news/bitcoin-safe-2-0-0/index.tr.md
  content/news/bitcoin-safe-2-0-0/index.uk.md
  content/news/bitcoin-safe-2-0-0/index.zh.md
Due: none
