Repository andreasgriffin/andreasgriffin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-md-aliases, generate-hardware-signer-lang-files

add-md-aliases:
  name: Add YAML `aliases:` to top-level Markdown files
  entry: python add_aliases.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit

generate-hardware-signer-lang-files:
  name: Generate hardware signer language stubs
  entry: python generate_hardware_signer_lang_files.py
  language: python
  pass_filenames: false
  stages:
  - pre-commit
  additional_dependencies:
  - pyyaml

new lin
  content/features/usps/index.md
  data/hardware-signers.yml
Due: add-md-aliases, generate-hardware-signer-lang-files

Revise multi-language support to include currency options
  content/features/multi-language/index.md
Due: add-md-aliases

Revise feature descriptions for clarity and detail
  layouts/partials/features/index.en.html
Due: none

Update slogan for cold storage software
  layouts/partials/slogan/index.en.html
Due: none

Update index.md
  content/features/multi-language/index.md
Due: add-md-aliases

squash
  assets/sass/styles.scss
  layouts/partials/carousel.html
Due: none

Make carousel per-slide a responsive maximum
  assets/js/main.js
  assets/sass/styles.scss
  layouts/partials/carousel.html
  layouts/partials/community-feedback/carousel.html
Due: none

Reduce carousel image shrink before responsive step-down
  assets/js/main.js
  layouts/partials/community-feedback/carousel.html
Due: none

added feedback
  data/community-feedback.yml
  static/images/community-feedback/bsn21m.webp
Due: none

Refactor feature descriptions for clarity and conciseness
  layouts/partials/features/index.en.html
Due: none

Revise internationalization feature description
  layouts/partials/features/index.en.html
Due: none

Fix text formatting and enhance feature description
  layouts/partials/features/index.en.html
Due: none

Update index.en.html
  layouts/partials/features/index.en.html
Due: none

Fix HTML syntax in features index.en.html
  layouts/partials/features/index.en.html
Due: none

Revise localization description and add link
  layouts/partials/features/index.en.html
Due: none

squash
  assets/js/main.js
  config/_default/languages.toml
  content/donate/index.ar.md
  content/donate/index.ca.md
  content/donate/index.de.md
  content/donate/index.es.md
  content/donate/index.fa.md
  content/donate/index.fr.md
  content/donate/index.hi.md
  content/donate/index.id.md
  content/donate/index.it.md
  content/donate/index.ja.md
  content/donate/index.ko.md
  content/donate/index.md
  content/donate/index.my.md
  content/donate/index.pl.md
  content/donate/index.pt.md
  content/donate/index.ru.md
  content/donate/index.th.md
  content/donate/index.tr.md
  content/donate/index.uk.md
  content/donate/index.zh.md
Due: add-md-aliases, generate-hardware-signer-lang-files

add nostr.jso
  static/.well-known/nostr.json
Due: none

squash
  .github/workflows/fetch-release.yaml
  content/download/index.tr.md
  data/apt_repo.json
  fetch_release.sh
  layouts/shortcodes/apt_repo_install.html
  update_apt_repo.sh
Due: none

deb repo
  .github/workflows/fetch-release.yaml
  .github/workflows/hugo.yaml
  assets/js/main.js
  assets/sass/styles.scss
  content/download/index.ar.md
  content/download/index.ca.md
  content/download/index.de.md
  content/download/index.es.md
  content/download/index.fa.md
  content/download/index.fr.md
  content/download/index.hi.md
  content/download/index.id.md
  content/download/index.it.md
  content/download/index.ja.md
  content/download/index.ko.md
  content/download/index.md
  content/download/index.my.md
  content/download/index.pl.md
  content/download/index.pt.md
  content/download/index.ru.md
  content/download/index.th.md
  content/download/index.tr.md
  content/download/index.uk.md
  content/download/index.zh.md
  data/apt_repo.json
  fetch_release.sh
  layouts/shortcodes/apt_repo_install.html
  static/apt/.gitkeep
  static/apt/dists/.gitkeep
  static/apt/pool/.gitkeep
  update_apt_repo.sh
Due: add-md-aliases

verify-signature-tabs
  content/download/index.ar.md
  content/download/index.ca.md
  content/download/index.de.md
  content/download/index.es.md
  content/download/index.fa.md
  content/download/index.fr.md
  content/download/index.hi.md
  content/download/index.id.md
  content/download/index.it.md
  content/download/index.ja.md
  content/download/index.ko.md
  content/download/index.md
  content/download/index.my.md
  content/download/index.pl.md
  content/download/index.pt.md
  content/download/index.ru.md
  content/download/index.th.md
  content/download/index.tr.md
  content/download/index.uk.md
  content/download/index.zh.md
  layouts/shortcodes/gpg_verify_tabs.html
Due: add-md-aliases

Verify release signatures when building APT repo
  update_apt_repo.sh
Due: none

Enhance donation section with contribution options
  content/donate/index.md
Due: add-md-aliases

restict workflow
  .github/workflows/fetch-release.yaml
Due: none

squash
  content/knowledge/supported-hardware-signers/keystone/index.ar.md
  content/knowledge/supported-hardware-signers/keystone/index.ca.md
  content/knowledge/supported-hardware-signers/keystone/index.de.md
  content/knowledge/supported-hardware-signers/keystone/index.es.md
  content/knowledge/supported-hardware-signers/keystone/index.fa.md
  content/knowledge/supported-hardware-signers/keystone/index.fr.md
  content/knowledge/supported-hardware-signers/keystone/index.hi.md
  content/knowledge/supported-hardware-signers/keystone/index.id.md
  content/knowledge/supported-hardware-signers/keystone/index.it.md
  content/knowledge/supported-hardware-signers/keystone/index.ja.md
  content/knowledge/supported-hardware-signers/keystone/index.ko.md
  content/knowledge/supported-hardware-signers/keystone/index.md
  content/knowledge/supported-hardware-signers/keystone/index.my.md
  content/knowledge/supported-hardware-signers/keystone/index.pl.md
  content/knowledge/supported-hardware-signers/keystone/index.pt.md
  content/knowledge/supported-hardware-signers/keystone/index.ru.md
  content/knowledge/supported-hardware-signers/keystone/index.th.md
  content/knowledge/supported-hardware-signers/keystone/index.tr.md
  content/knowledge/supported-hardware-signers/keystone/index.uk.md
  content/knowledge/supported-hardware-signers/keystone/index.zh.md
Due: add-md-aliases, generate-hardware-signer-lang-files

better cbf page
  content/knowledge/compact-block-filters/index.ar.md
  content/knowledge/compact-block-filters/index.ca.md
  content/knowledge/compact-block-filters/index.de.md
  content/knowledge/compact-block-filters/index.es.md
  content/knowledge/compact-block-filters/index.fa.md
  content/knowledge/compact-block-filters/index.fr.md
  content/knowledge/compact-block-filters/index.hi.md
  content/knowledge/compact-block-filters/index.id.md
  content/knowledge/compact-block-filters/index.it.md
  content/knowledge/compact-block-filters/index.ja.md
  content/knowledge/compact-block-filters/index.ko.md
  content/knowledge/compact-block-filters/index.md
  content/knowledge/compact-block-filters/index.my.md
  content/knowledge/compact-block-filters/index.pl.md
  content/knowledge/compact-block-filters/index.pt.md
  content/knowledge/compact-block-filters/index.ru.md
  content/knowledge/compact-block-filters/index.th.md
  content/knowledge/compact-block-filters/index.tr.md
  content/knowledge/compact-block-filters/index.uk.md
  content/knowledge/compact-block-filters/index.zh.md
  content/knowledge/compact-block-filters/inital-node.png
Due: add-md-aliases

Document APT repo generation workflow
  update_apt_repo.sh
Due: none

added flags
  layouts/partials/flags-short.html
Due: none

refine
  data/news.yml
  static/images/other/einundzwanzig-support.webp
Due: none

Add OpenSats grant renewal news link
  data/news.yml
Due: none

Add Bluetooth support badges for Jade signers
  data/hardware-signers.yml
  layouts/partials/hardware-signer/detail.html
  layouts/partials/hardware-signer/features.html
  static/images/bluetooth.svg
Due: generate-hardware-signer-lang-files

Harden APT repository metadata publishing
  update_apt_repo.sh
Due: none

Add Coldcard Mk5 signer entry
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.ar.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.ca.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.de.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.es.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.fa.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.fr.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.hi.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.id.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.it.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.ja.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.ko.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.my.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.pl.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.pt.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.ru.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.th.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.tr.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.uk.md
  content/knowledge/supported-hardware-signers/coldcard-mk5/index.zh.md
  data/hardware-signers.yml
Due: add-md-aliases, generate-hardware-signer-lang-files

Add community feedback section with ProductHunt and NxGnTools links
  layouts/index.html
Due: none

closer together
  layouts/index.html
Due: none

Add VerifiedTools badge for Bitcoin Safe
  layouts/index.html
Due: none

Adjust badge image width in index.html
  layouts/index.html
Due: none

Add StartupFa.me badge link for Bitcoin-Safe
  layouts/index.html
Due: none

Path conditions:
  add-md-aliases: any of: ^content/[^.]+\.md$
  generate-hardware-signer-lang-files: any of: ^(content/knowledge/supported-hardware-signers/.*|data/hardware-signers\.yml|config/_default/languages\.toml|generate_hardware_signer_lang_files\.py)$
