Repository andreasgriffin/andreasgriffin.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-md-aliases, generate-hardware-signer-lang-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: add-md-aliases
        name: Add YAML `aliases:` to top-level Markdown files
        entry: python add_aliases.py
        language: python
        # Only trigger when youâ€™ve staged *.md in content/ whose basename has no extra dot
        files: '^content/[^.]+\.md$'
        pass_filenames: false
        stages: [pre-commit]

      - id: generate-hardware-signer-lang-files
        name: Generate hardware signer language stubs
        entry: python generate_hardware_signer_lang_files.py
        language: python
        files: '^(content/knowledge/supported-hardware-signers/.*|data/hardware-signers\.yml|config/_default/languages\.toml|generate_hardware_signer_lang_files\.py)$'
        pass_filenames: false
        stages: [pre-commit]
        additional_dependencies:
          - pyyaml

add org.flathub.VerifiedApps.txt
  static/.well-known/org.flathub.VerifiedApps.txt
Due: none

Remove org.flathub.VerifiedApps.txt file
  .well-known/org.flathub.VerifiedApps.txt
Due: none

token
  static/.well-known/org.flathub.VerifiedApps.txt
Due: none

squash
  data/news.yml
Due: none

screenshot
  static/screenshots/flatpak/flatpak 1.png
  static/screenshots/flatpak/flatpak 2.png
  static/screenshots/flatpak/flatpak 3.png
  static/screenshots/flatpak/flatpak 4.png
Due: none

reduce size
  static/screenshots/flatpak/flatpak 1.png
  static/screenshots/flatpak/flatpak 2.png
  static/screenshots/flatpak/flatpak 3.png
  static/screenshots/flatpak/flatpak 4.png
Due: none

mov
  static/packaging_screenshots/flatpak/flatpak 1.png
  static/packaging_screenshots/flatpak/flatpak 2.png
  static/packaging_screenshots/flatpak/flatpak 3.png
  static/packaging_screenshots/flatpak/flatpak 4.png
  static/packaging_screenshots/win/screenshots 01.png
  static/packaging_screenshots/win/screenshots 02.png
  static/packaging_screenshots/win/screenshots 03.png
  static/packaging_screenshots/win/screenshots 04.png
Due: none

mac
  static/packaging_screenshots/mac/1.png
Due: none

squash
  content/library/supported-hardware-signers/metrovault-logo.png
  content/library/supported-hardware-signers/metrovault/index.ar.md
  content/library/supported-hardware-signers/metrovault/index.ca.md
  content/library/supported-hardware-signers/metrovault/index.de.md
  content/library/supported-hardware-signers/metrovault/index.es.md
  content/library/supported-hardware-signers/metrovault/index.fa.md
  content/library/supported-hardware-signers/metrovault/index.fr.md
  content/library/supported-hardware-signers/metrovault/index.hi.md
  content/library/supported-hardware-signers/metrovault/index.id.md
  content/library/supported-hardware-signers/metrovault/index.it.md
  content/library/supported-hardware-signers/metrovault/index.ja.md
  content/library/supported-hardware-signers/metrovault/index.ko.md
  content/library/supported-hardware-signers/metrovault/index.md
  content/library/supported-hardware-signers/metrovault/index.my.md
  content/library/supported-hardware-signers/metrovault/index.pl.md
  content/library/supported-hardware-signers/metrovault/index.pt.md
  content/library/supported-hardware-signers/metrovault/index.ru.md
  content/library/supported-hardware-signers/metrovault/index.th.md
  content/library/supported-hardware-signers/metrovault/index.tr.md
  content/library/supported-hardware-signers/metrovault/index.uk.md
  content/library/supported-hardware-signers/metrovault/index.zh.md
  content/library/supported-hardware-signers/screenshots/metrovault-generate-seed.png
  content/library/supported-hardware-signers/screenshots/metrovault-register-multisig-decriptor.png
  content/library/supported-hardware-signers/screenshots/metrovault-view-seed.png
  content/library/supported-hardware-signers/screenshots/metrovault-wallet-export.png
  data/hardware-signers.yml
  layouts/partials/resolve-rel-url.html
Due: add-md-aliases, generate-hardware-signer-lang-files

Add MetroVault download and source links
  data/hardware-signers.yml
  layouts/partials/hardware-signer/detail.html
Due: generate-hardware-signer-lang-files

typo
  content/library/supported-hardware-signers/metrovault/index.md
Due: add-md-aliases

squash
  content/library/supported-hardware-signers/metrovault/index.ar.md
  content/library/supported-hardware-signers/metrovault/index.ca.md
  content/library/supported-hardware-signers/metrovault/index.de.md
  content/library/supported-hardware-signers/metrovault/index.es.md
  content/library/supported-hardware-signers/metrovault/index.fa.md
  content/library/supported-hardware-signers/metrovault/index.fr.md
  content/library/supported-hardware-signers/metrovault/index.hi.md
  content/library/supported-hardware-signers/metrovault/index.id.md
  content/library/supported-hardware-signers/metrovault/index.it.md
  content/library/supported-hardware-signers/metrovault/index.ja.md
  content/library/supported-hardware-signers/metrovault/index.ko.md
  content/library/supported-hardware-signers/metrovault/index.md
  content/library/supported-hardware-signers/metrovault/index.my.md
  content/library/supported-hardware-signers/metrovault/index.pl.md
  content/library/supported-hardware-signers/metrovault/index.pt.md
  content/library/supported-hardware-signers/metrovault/index.ru.md
  content/library/supported-hardware-signers/metrovault/index.th.md
  content/library/supported-hardware-signers/metrovault/index.tr.md
  content/library/supported-hardware-signers/metrovault/index.uk.md
  content/library/supported-hardware-signers/metrovault/index.zh.md
  data/hardware-signers.yml
  layouts/partials/hardware-signer/detail.html
Due: add-md-aliases, generate-hardware-signer-lang-files

2.1.1
  data/latest_release.json
Due: none
